<div class="flex flex-col gap-8 p-2 min-h-[567px]">
  <div class="flex-none flex flex-col gap-2 pt-7 pb-1">
    <div class="text-secondary font-bold text-4xl">{{ forms[key].title }}</div>
    <div class="text-base text-gray-400">{{ forms[key].description }}</div>
  </div>
  <div class="flex-1 w-[445px]">
    <router-outlet/>
  </div>
  <div class="flex-none w-full flex justify-between pt-14 pb-2">
    <div class="flex-1 flex justify-start">
      <a *ngIf="forms[key].backTo" class="action-button" routerLink="{{forms[key].backTo}}"> Go Back </a>
    </div>
    <div class="flex-1 flex justify-end">
      <a *ngIf="forms[key].nextTo" class="action-button" routerLink="{{forms[key].nextTo}}"> Next Step </a>
      <a *ngIf="key + 1 === forms.length" class="action-button bg-violet-700 cursor-pointer"> Confirm</a>
    </div>
  </div>
</div>
